################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/AndroidLayoutPractice/bin/Debug/AndroidLayoutPractice.AndroidLayoutPractice-Signed.apk
/AndroidLayoutPractice/bin/Debug/AndroidLayoutPractice.AndroidLayoutPractice.apk
/AndroidLayoutPractice/bin/Debug/System.Xml.Linq.dll.mdb
/AndroidLayoutPractice/bin/Debug/System.Xml.dll.mdb
/AndroidLayoutPractice/bin/Debug/System.ServiceModel.Internals.dll.mdb
/AndroidLayoutPractice/bin/Debug/System.Runtime.Serialization.dll.mdb
/AndroidLayoutPractice/bin/Debug/System.Net.Http.dll.mdb
/AndroidLayoutPractice/bin/Debug/System.dll.mdb
/AndroidLayoutPractice/bin/Debug/System.Core.dll.mdb
/AndroidLayoutPractice/bin/Debug/System.ComponentModel.Composition.dll.mdb
/AndroidLayoutPractice/bin/Debug/mscorlib.dll.mdb
/AndroidLayoutPractice/bin/Debug/Mono.Android.dll.mdb
/AndroidLayoutPractice/bin/Debug/Java.Interop.dll.mdb
/AndroidLayoutPractice/bin/Debug/AndroidLayoutPractice.pdb
/AndroidLayoutPractice/bin/Debug/AndroidLayoutPractice.dll.mdb
/AndroidLayoutPractice/bin/Debug/AndroidLayoutPractice.dll
/AndroidLayoutPractice/obj/Debug
